---
import ProductCard from './ProductCard.astro'
const { data } = Astro.props;
---

<div class="bg-black text-blue-100 min-h-screen">
  <div class="text-center px-4 max-w-4xl mx-auto">
    {data.heroImage && (
      <img
        src={data.heroImage}
        alt={data.title}
        loading="lazy"
        class="mx-auto mb-6 rounded-xl shadow-2xl border border-blue-800"
        width="1200"
        height="600"
      />
    )}

    <h1 class="text-4xl font-extrabold tracking-tight text-blue-400">{data.title}</h1>

    {data.subtitle && (
      <p class="text-xl mt-2 text-blue-300 opacity-90">{data.subtitle}</p>
    )}

    {data.intro && (
      <p class="my-6 text-lg leading-relaxed text-blue-200">{data.intro}</p>
    )}

    {data.highlights && (
      <ul class="grid sm:grid-cols-2 gap-2 text-left mt-4 text-blue-300 list-disc list-inside">
        {data.highlights.map((item) => <li>{item}</li>)}
      </ul>
    )}
  </div>

  {data.items && (
    <div class="my-12 max-w-6xl mx-auto px-4">
      <h2 class="text-2xl font-bold mb-6 text-blue-400">Artículos destacados</h2>

      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
        {data.items.map((item) => <ProductCard item={item} />)}
      </div>
    </div>
  )}
</div>
